/* All page content take full width and height veiw */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.register-form, .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.register-form input, .login-form input {
    padding: 0.15rem;
}

.hidden {
    display: none;
}

main {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
